node_modules
*.env
.env
dist
build
.next
.turbo
coverage
*.log
*.sqlite
*.db
*.DS_Store
/.bun
/.cache
/.vscode
/.idea
/.npm
/.yarn
/.pnp*
/.env.*
apps/*/node_modules
apps/*/.next
apps/*/dist
apps/*/build
packages/*/node_modules
packages/*/dist
packages/*/build
docker/*.local
docker/*.log
docker/*.tmp